{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

{{   if eq .chezmoi.osRelease.id "fedora" -}}
rpm-ostree upgrade

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew update --quiet && brew upgrade --quiet

flatpak update -y
{{   else if eq .chezmoi.osRelease.id "debian" -}}
# Debian-specific code
{{   end }}

{{- else if eq .chezmoi.os "android" -}}
#!/bin/sh

pkg update -y && pkg upgrade -y

{{- end }}
