{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

rpm-ostree upgrade

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew update --quiet && brew upgrade --quiet

flatpak update -y

{{- else if eq .osid "linux-debian" -}}
# Debian-specific code

{{- else if eq .chezmoi.os "android" -}}
#!/bin/sh

pkg update -y && pkg upgrade -y -o Dpkg::Options::="--force-confnew"
{{- end }}
