{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

chezmoi upgrade

rpm-ostree upgrade

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew update --quiet && brew upgrade --quiet

flatpak update -y

{{- else if eq .osid "linux-debian" -}}
#!/bin/bash

sudo apt update -y && sudo apt full-upgrade -y -o Dpkg::Options::="--force-confnew"

{{- else if eq .chezmoi.os "android" -}}
#!/bin/sh

pkg update -y && pkg upgrade -y
apt autoremove
{{- end }}
