{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

systemctl --user enable emacs.service
systemctl --user start emacs.service
systemctl --user enable syncthing.service
systemctl --user start syncthing.service
{{- end }}
