{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

for rpmostree in {{ range .packages.rpmostree -}} {{ . | quote }} {{ end -}}; do
    rpm-ostree install --assumeyes "$rpmostree"
done

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
for brew in {{ range .packages.homebrew -}} {{ . | quote }} {{ end -}}; do
    brew install "$brew"
done

for flatpak in {{ range .packages.flatpak -}} {{ . | quote }} {{ end -}}; do
    flatpak install --system -y "$flatpak"
done

{{- else if eq .osid "linux-debian" -}}
#!/bin/bash

for apt in {{ range .packages.apt -}} {{ . | quote }} {{ end -}}; do
    sudo apt install -y "$apt"
done

{{- else if eq .chezmoi.os "android" -}}
#!/bin/sh

for pkg in {{ range .packages.termux -}} {{ . | quote }} {{ end -}}; do
    pkg install -y "$pkg"
done

{{- end }}
