{{ if eq .osid "linux-fedora" -}}
# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
        if [ -f "$rc" ]; then
            . "$rc"
        fi
    done
fi
unset rc

if [ -x "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

{{- else if eq .chezmoi.os "android" -}}
# Start SSH agent if not already running
if [ -z "$SSH_AUTH_SOCK" ] || [ ! -S "$SSH_AUTH_SOCK" ]; then
    # Remove the old socket file if it exists
    rm -f ~/.ssh/ssh-agent.sock
    eval "$(ssh-agent -s -a ~/.ssh/ssh-agent.sock)"
fi

# Set SSH_AUTH_SOCK to the fixed socket location
export SSH_AUTH_SOCK=~/.ssh/ssh-agent.sock

{{- end }}