{{- /* -*- mode: conf-toml -*- */ -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"
[age]
    identity = "{{- .chezmoi.homeDir -}}/.config/chezmoi/key.txt"
    recipient = "age1xhfuuxs5y9f4xfg3gtfc3rshnds2ckqwm283vet4hlhu98cwtpjscln5cd"

[data]
    osid = {{ $osid | quote }}

[hooks.read-source-state.pre]
    command = "{{- .chezmoi.homeDir -}}/.local/share/chezmoi/home/.install-password-manager.sh"

[keepassxc]
    database = "{{- .chezmoi.homeDir -}}/.keepass/passwords.kdbx"