# .bashrc

{{ if contains "fedora" .osid -}}
# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

{{ end -}}
# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

{{ if contains "fedora" .osid -}}
if [ -x "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

{{ end -}}
# User specific aliases and functions
for script in ~/bin/*.sh; do
    script_name=$(basename "$script" .sh)
    alias "$script_name"="$script"
done

{{ if contains "fedora" .osid -}}
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
        if [ -f "$rc" ]; then
            . "$rc"
        fi
    done
fi
unset rc

{{- else if contains "android" .osid -}}
if [ -z "$SSH_AUTH_SOCK" ] || [ ! -S "$SSH_AUTH_SOCK" ]; then
    rm -f ~/.ssh/ssh-agent.sock
    eval "$(ssh-agent -s -a ~/.ssh/ssh-agent.sock > /dev/null 2>&1)"
fi
export SSH_AUTH_SOCK=~/.ssh/ssh-agent.sock

{{- end -}}