# .bashrc

{{ if contains "fedora" .osid -}}
# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

{{ end -}}
# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

{{ if contains "linux" .osid -}}
if [ -x "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

{{ end -}}
# User specific aliases and functions
[ -f ~/.hushlogin ] || touch ~/.hushlogin
cmp -s $HOME/.hushlogin /{{- if contains "android" .osid -}}data/data/com.termux/files/usr/{{- end -}}etc/motd
if [ $? != 0 ]; then
    tee < "/{{- if contains "android" .osid -}}data/data/com.termux/files/usr/{{- end -}}etc/motd"
    read -p $'\nDo you want to dismiss this message for future logins? (y/n): ' choice
    if [[ "$choice" == "y" || "$choice" == "Y" ]]; then
        tee $HOME/.hushlogin < /{{- if contains "android" .osid -}}data/data/com.termux/files/usr/{{- end -}}etc/motd > /dev/null
    fi
fi

for script in "$HOME/.local/bin"/*.sh "$HOME/bin"/*.sh; do
    script_name=$(basename "$script" .sh)
    alias "$script_name"="$script"
done

{{ if contains "fedora" .osid -}}
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
        if [ -f "$rc" ]; then
            . "$rc"
        fi
    done
fi
unset rc

{{- else if contains "android" .osid -}}
if [ -z "$SSH_AUTH_SOCK" ] || [ ! -S "$SSH_AUTH_SOCK" ]; then
    rm -f ~/.ssh/ssh-agent.sock
    eval "$(ssh-agent -s -a ~/.ssh/ssh-agent.sock > /dev/null 2>&1)"
fi
export SSH_AUTH_SOCK=~/.ssh/ssh-agent.sock
{{- end -}}