{{- /* -*- mode: conf -*- */ -}}

[user]
    name = Samuel Bonney
    email = {{ (keepassxc "GitHub").UserName }}

[core]
    editor = emacsclient -c

[init]
    defaultBranch = main

[includeIf "gitdir:{{- .chezmoi.homeDir -}}/.local/share/chezmoi/"]
    path = {{ .chezmoi.homeDir -}}/.gitconfig-chezmoi