{{- /* -*- mode: conf -*- */ -}}

[user]
    name = Samuel Bonney
    email = {{ (keepassxc "GitHub").UserName }}
[core]
    editor = emacsclient -c
[init]
    defaultBranch = main
[url "git@github.com:"]
    insteadOf = https://github.com/