#!{{- lookPath "bash" }}

if command -v apt >/dev/null 2>&1; then
    {{ if contains "debian" .osid -}} sudo {{ end -}}
    apt update -y &&
    {{- " " -}} {{ if contains "debian" .osid -}} sudo {{ end -}}
    apt full-upgrade -y -o Dpkg::Options::="--force-confnew"
fi

if command -v brew >/dev/null 2>&1; then
    brew update && brew upgrade
fi

if command -v flatpak >/dev/null 2>&1; then
    flatpak update -y
fi

if command -v pkg >/dev/null 2>&1; then
    pkg update -y && pkg upgrade -y
fi

if command -v rpm-ostree >/dev/null 2>&1; then
    rpm-ostree upgrade
fi