{{- if contains "android" .osid -}}
#!{{- lookPath "bash" }}

EMACS="/data/data/org.gnu.emacs/files"
if [ -d "$EMACS" ]; then
    rm -rf "$EMACS"
    ln -s "$HOME" "$EMACS"
fi

{{- $storage := output "bash" "-c" (printf "find ~/.local/share/%s/storage -mindepth 1 -maxdepth 1 -type d" $.osid) | split "\n" }}
{{- range $index, $store := $storage }}
  {{- if and (ne $store ".") (ne $store "..") (ne $store "") }}
  {{- $dirs := output "bash" "-c" (printf "find %s -mindepth 1 -maxdepth 1 -type d" $store) | split "\n" }}
  {{- range $index, $dir := $dirs }}
    {{- if and (ne $dir ".") (ne $dir "..") (ne $dir "") -}} {{- "\n" }}
if [ -d "{{- $dir -}}" ]; then
    TARGET="/{{- includeTemplate (printf "%s/storage/%s" $.osid ($store | base)) . -}}/{{- if eq ($dir | base) "Downloads" -}}Download{{- else -}}{{- $dir | base -}}{{- end -}}"
    if [ -d "$TARGET" ]; then
        if [ -L "$HOME/{{- $dir | base -}}" ]; then
            rm "$HOME/{{- $dir | base -}}"
        fi
        ln -s "$TARGET" "$HOME/{{- $dir | base -}}"
    fi
fi
    {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end -}}