{{- template "bash-shebang" . -}}

{{- if contains "android" .osid -}}
EMACS_HOME="/data/data/org.gnu.emacs/files"
TERMUX_HOME="/data/data/com.termux/files/home"
STORAGE_INTERNAL="/storage/emulated/0"
STORAGE_EXTERNAL="/$(df | grep /storage | cut -d '/' -f 4- | grep -v 'emulated' | tr -d '[:space:]')"

if [ -d "$EMACS_HOME" ]; then
    rm -rf "$EMACS_HOME"
    echo "Deleted $EMACS_HOME"
else
    echo "$EMACS_HOME does not exist"
fi

ln -s "$TERMUX_HOME" "$EMACS_HOME"
echo "Created symbolic link from $EMACS_HOME to $TERMUX_HOME"

for dir in Applications Desktop Documents; do
    if [ -d "$STORAGE_INTERNAL/$dir" ]; then
        ln -s "$STORAGE_INTERNAL/$dir" "$TERMUX_HOME/$dir"
        echo "Created symbolic link from $STORAGE_INTERNAL/$dir to $TERMUX_HOME/$dir"
    else
        echo "$STORAGE_INTERNAL/$dir does not exist"
    fi
done

if [ -d "$STORAGE_INTERNAL/Download" ]; then
    ln -s "$STORAGE_INTERNAL/Download" "$TERMUX_HOME/Downloads"
    echo "Created symbolic link from $STORAGE_INTERNAL/Download to $TERMUX_HOME/Downloads"
else
    echo "$STORAGE_INTERNAL/Download does not exist"
fi

for dir in Audiobooks Ebooks; do
    if [ -d "$STORAGE_EXTERNAL/$dir" ]; then
        ln -s "$STORAGE_EXTERNAL/$dir" "$TERMUX_HOME/$dir"
        echo "Created symbolic link from $STORAGE_EXTERNAL/$dir to $TERMUX_HOME/$dir"
    else
        echo "$STORAGE_EXTERNAL/$dir does not exist"
    fi
done

{{- end -}}