{{- template "bash-shebang" . -}}

{{- if eq .osid "linux-fedora" -}}
for package in {{ range .packages.linux.fedora.rpm_ostree -}} {{ . | quote }} {{ end -}}; do
    rpm-ostree install --assumeyes "$package"
done

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
for package in {{ range .packages.linux.fedora.brew -}} {{ . | quote }} {{ end -}}; do
    brew install "$package"
done

for package in {{ range .packages.linux.fedora.flatpak -}} {{ . | quote }} {{ end -}}; do
    flatpak install --system -y "$package"
done

{{- else if eq .osid "linux-debian" -}}
for package in {{ range .packages.linux.debian.apt -}} {{ . | quote }} {{ end -}}; do
    sudo apt install -y "$package"
done

{{- else if eq .chezmoi.os "android" -}}
for package in {{ range .packages.android.pkg -}} {{ . | quote }} {{ end -}}; do
    pkg install -y "$package"
done

{{- end -}}
