#!{{- lookPath "bash" }}

{{- range $manager, $package := .packages -}} {{- $manager := $manager | replace "_" "-" -}} {{- "\n" }}
if command -v {{ $manager }}  >/dev/null 2>&1; then
    for package in {{- range index $package $.chezmoi.os }} {{ . | quote }} {{- end -}} {{- if hasKey $.chezmoi.osRelease "id" -}} {{- range index $package $.chezmoi.osRelease.id }} {{ . | quote }} {{- end -}} {{- end -}}; do
        {{- if eq $manager "apt" }}
        if ! dpkg -l | grep -q "^ii\s\+$package\s"; then
            sudo apt install -y "$package"
        else
            echo "$package is already installed."

        {{- else if eq $manager "brew" }}
        if ! brew list --formula | grep -q "^$package\$"; then
            brew install "$package"

        {{- else if eq $manager "flatpak" }}
        if ! flatpak list --app | grep -q "$package"; then
            flatpak install --system -y "$package"

        {{- else if eq $manager "pkg" }}
        if ! dpkg -l | grep -q "^ii\s\+$package"; then
            pkg install -y "$package"

        {{- else if eq $manager "rpm-ostree" }}
        if ! rpm-ostree status | grep -q "$package"; then
            rpm-ostree install --assumeyes "$package"

        {{- else }}
            exit 1

        {{- end }}
        fi
    done
fi
{{- end -}}