{{- template "bash-shebang" . -}}

{{- if eq .osid "linux-fedora" -}}
for systemd in {{ range .services.systemd -}} {{ . | quote }} {{ end -}}; do
    systemctl --user enable "$systemd".service
    systemctl --user start "$systemd".service
done

{{- end -}}