{{- template "bash-shebang" . -}}

{{- if contains "android" .osid -}}
apt autoremove -y

{{- else if contains "linux" .osid -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew cleanup

flatpak uninstall --unused

{{   if contains "debian" .osid -}}
sudo apt autoremove -y

{{   else if contains "fedora" .osid -}}
rpm-ostree cleanup -bm

{{-   end -}}
{{- end -}}
