{{- template "bash-shebang" . -}}

{{ if eq .osid "linux-fedora" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew analytics off

flatpak remote-modify --no-filter --enable flathub
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install --reinstall --assumeyes flathub $(flatpak list --app-runtime=org.fedoraproject.Platform --columns=application | tail -n +1 )
if flatpak remote-list | grep -q fedora; then
    flatpak remote-delete fedora
else
    echo "Remote "fedora" not found"
fi

{{- else if eq .chezmoi.os "android" -}}
apt update -y && apt upgrade -y -o Dpkg::Options::="--force-confnew"
pkg install -y x11-repo
pkg install -y termux-x11-nightly

{{- end }}
