#!{{- lookPath "bash" }}

if command -v apt >/dev/null 2>&1; then
    {{ if contains "debian" .osid -}} sudo {{ end -}}
    apt autoremove -y
fi

if command -v brew >/dev/null 2>&1; then
    brew cleanup
fi

if command -v flatpak >/dev/null 2>&1; then
    flatpak uninstall --unused
fi

if command -v rpm-ostree >/dev/null 2>&1; then
    rpm-ostree cleanup -bm
fi