{{- template "bash-shebang" . -}}

{{- if contains "android" .osid -}}
pkg update -y && pkg upgrade -y

{{- else if contains "linux" .osid -}}
chezmoi upgrade

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew update && brew upgrade

flatpak update -y

{{   if contains "debian" .osid -}}
sudo apt update -y && sudo apt full-upgrade -y -o Dpkg::Options::="--force-confnew"

{{   else if contains "fedora" .osid -}}
rpm-ostree upgrade

{{-   end -}}
{{- end -}}
