{{ if eq .chezmoi.os "android" -}}
#!/bin/bash

EMACS_HOME="/data/data/org.gnu.emacs/files"
TERMUX_HOME="/data/data/com.termux/files/home"
ANDROID_DISK_HOME="/storage/emulated/0"
ANDROID_SD_HOME="/$(df | grep /storage | cut -d '/' -f 4- | grep -v 'emulated' | tr -d '[:space:]')"

if [ -d "$EMACS_HOME" ]; then
    rm -rf "$EMACS_HOME"
    echo "Deleted $EMACS_HOME"
else
    echo "$EMACS_HOME does not exist"
fi

ln -s "$TERMUX_HOME" "$EMACS_HOME"
echo "Created symbolic link from $EMACS_HOME to $TERMUX_HOME"

for dir in Applications Desktop Documents; do
    if [ -d "$ANDROID_DISK_HOME/$dir" ]; then
        ln -s "$ANDROID_DISK_HOME/$dir" "$TERMUX_HOME/$dir"
        echo "Created symbolic link from $ANDROID_DISK_HOME/$dir to $TERMUX_HOME/$dir"
    else
        echo "$ANDROID_DISK_HOME/$dir does not exist"
    fi
done

if [ -d "$ANDROID_DISK_HOME/Download" ]; then
    ln -s "$ANDROID_DISK_HOME/Download" "$TERMUX_HOME/Downloads"
    echo "Created symbolic link from $ANDROID_DISK_HOME/Download to $TERMUX_HOME/Downloads"
else
    echo "$ANDROID_DISK_HOME/Download does not exist"
fi

for dir in Audiobooks Ebooks; do
    if [ -d "$ANDROID_SD_HOME/$dir" ]; then
        ln -s "$ANDROID_SD_HOME/$dir" "$TERMUX_HOME/$dir"
        echo "Created symbolic link from $ANDROID_SD_HOME/$dir to $TERMUX_HOME/$dir"
    else
        echo "$ANDROID_SD_HOME/$dir does not exist"
    fi
done

{{- end }}
