{{ if eq .chezmoi.os "linux" -}}
(setenv "PATH" (concat "/home/linuxbrew/.linuxbrew/bin:" (getenv "PATH")))
(add-to-list 'exec-path "/home/linuxbrew/.linuxbrew/bin")

{{ else if eq .chezmoi.os "android" -}}
(let ((termux-bin "/data/data/com.termux/files/usr/bin")
      (ssh-sock "/data/data/com.termux/files/home/.ssh/ssh_auth_sock"))
  (setenv "PATH" (format "%s:%s" termux-bin (getenv "PATH")))
  (push termux-bin exec-path)
  (setenv "SSH_AUTH_SOCK" ssh-sock))

{{ end -}}