{{- /* -*- mode: emacs-lisp -*- */ -}}

;;; early-init.el --- Early Init -*- lexical-binding: t; -*-

(setq package-enable-at-startup nil)

(setq debug-on-error t)
(add-hook 'after-init-hook #'toggle-debug-on-error)

(menu-bar-mode -1)
(scroll-bar-mode -1)
(tool-bar-mode -1)
(add-to-list 'default-frame-alist '(undecorated . t))

{{- $binPath := "" }}
{{- $pathExpression := "" }}
{{- if contains "android" .osid }}
{{-   $binPath = "/data/data/com.termux/files/usr/bin" }}
{{-   $pathExpression = printf "format \"%%s:%%s\" \"%s\"" $binPath }}
{{- else if contains "linux" .osid }}
{{-   $binPath = "/home/linuxbrew/.linuxbrew/bin" }}
{{-   $pathExpression = printf "concat \"%s:\"" $binPath }}
{{- end }}

(setenv "PATH" ({{- $pathExpression }} (getenv "PATH")))
(add-to-list 'exec-path "{{- $binPath -}}")

(setenv "SSH_AUTH_SOCK" "{{- .chezmoi.homeDir -}}/.ssh/ssh-agent.sock")
