{{- /* -*- mode: emacs-lisp -*- */ -}}

;;; pre-early-init.el --- Pre Early Init -*- no-byte-compile: t; lexical-binding: t; -*-

(setq debug-on-error t)

;;; Reducing clutter in ~/.emacs.d by redirecting files to ~/.emacs.d/var/
;; NOTE: This must be placed in 'pre-early-init.el'.
(setq user-emacs-directory (expand-file-name "var/" minimal-emacs-user-directory))
(setq package-user-dir (expand-file-name "elpa" user-emacs-directory))

{{ if contains "android" .osid -}}
(let ((termux-bin "/data/data/com.termux/files/usr/bin")
      (ssh-sock "/data/data/com.termux/files/home/.ssh/ssh-agent.sock"))
  (setenv "PATH" (format "%s:%s" termux-bin (getenv "PATH")))
  (add-to-list 'exec-path termux-bin)
  (setenv "SSH_AUTH_SOCK" ssh-sock))

{{- else if contains "linux" .osid -}}
(setenv "PATH" (concat "/home/linuxbrew/.linuxbrew/bin:" (getenv "PATH")))
(add-to-list 'exec-path "/home/linuxbrew/.linuxbrew/bin")
{{- end -}}
