{{- /* -*- mode: emacs-lisp -*- */ -}}

;;; pre-init.el --- Pre Init -*- no-byte-compile: t; lexical-binding: t; -*-

(use-package emacs
  :ensure nil
  :custom
;  (warning-minimum-level :emergency)
;  (inhibit-startup-screen t)
;  (initial-major-mode 'fundamental-mode)
;  (initial-scratch-message nil)
  (server-client-instructions nil)
  (make-backup-files nil)

  {{ if contains "android" .osid -}}
  :bind
  ("<f9>" . toggle-based-on-text-conversion-default)

  :hook
  (after-change-major-mode . record-text-conversion-default)

  {{ end -}}
  :init
  (setq custom-file (concat user-emacs-directory "custom.el"))
  (load custom-file 'noerror)
  (setq custom-safe-themes t)

  {{ if contains "android" .osid -}}
  (setq touch-screen-display-keyboard t)

  (defvar-local text-conversion-default nil)

  (defun record-text-conversion-default ()
    (setq text-conversion-default text-conversion-style))

  (defun toggle-based-on-text-conversion-default ()
    (interactive)
    (if text-conversion-default
        (if text-conversion-style
            (progn
              (setq-local text-conversion-style nil)
              (when (fboundp 'set-text-conversion-style)
                (set-text-conversion-style nil))
              (when (fboundp 'god-local-mode)
                (god-local-mode 1)))
          (setq-local text-conversion-style t)
          (when (fboundp 'set-text-conversion-style)
            (set-text-conversion-style t))
          (when (fboundp 'god-local-mode)
            (god-local-mode -1)))
      (when (fboundp 'god-local-mode)
        (god-local-mode (if god-local-mode -1 1)))))

  {{ end -}}

  :config
  (require-theme 'modus-themes)
  (setq modus-themes-italic-constructs t
        modus-themes-bold-constructs t
        modus-themes-mixed-fonts t
  {{- if contains "android" .osid }}
        modus-themes-to-toggle '(modus-operandi-tinted modus-vivendi-tinted))
  (load-theme 'modus-vivendi-tinted :no-confirm)
  {{- else -}})
  {{- end }}

  (global-visual-line-mode 1)
  (add-to-list 'default-frame-alist '(undecorated . t))
  {{- if contains "android" .osid }}

  (defun android-emacs-background-service-file ()
    (interactive)
    (let ((file-name "Emacs Background Service"))
      (when (file-exists-p file-name)
	(delete-file file-name))
      (find-file file-name)
      (insert "This file is produced to keep Emacs running while it is in the background. Used in conjunction with Android 'Emacs Background Service' notification, see (emacs)Android Environment.")
      (read-only-mode)
      (bury-buffer)))
  (android-emacs-background-service-file)
  {{- end -}})

(use-package server
  :ensure nil
  :config
  (unless (server-running-p)
    (server-start)))
