[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=HOME=/var/home/sbonney
Environment=SSH_AUTH_SOCK=/home/sbonney/.ssh/ssh-agent.sock
Restart=on-failure

[Install]
WantedBy=default.target